<!DOCTYPE html>
<html>
  <head>
    <title>HerokuMaintenanceAlert</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
